<a href="https://colab.research.google.com/github/davism02/Deep-Learning-Charity-Funding-Predictor/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
url = 'https://raw.githubusercontent.com/davism02/Deep-Learning-Charity-Funding-Predictor/main/Resources/charity_data.csv'

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv(url)
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN','NAME'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
counts1 = application_df['CLASSIFICATION'].value_counts()
counts1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2600        1
C2570        1
C6100        1
C1248        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts2 =counts1[counts1>1]
counts2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1246        2
C1267        2
C1234        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(counts1[counts1<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C6000',
 'C1800',
 'C1250',
 'C8200',
 'C1278',
 'C1238',
 'C1237',
 'C1235',
 'C7210',
 'C1720',
 'C2400',
 'C4100',
 'C1257',
 'C1600',
 'C2710',
 'C0',
 'C1260',
 'C1246',
 'C1267',
 'C1234',
 'C1256',
 'C3200',
 'C4500',
 'C1570',
 'C2190',
 'C1236',
 'C2500',
 'C8210',
 'C1245',
 'C4200',
 'C3700',
 'C2561',
 'C5200',
 'C1370',
 'C1732',
 'C2380',
 'C1820',
 'C1283',
 'C1728',
 'C2170',
 'C2150',
 'C4120',
 'C1580',
 'C2600',
 'C2570',
 'C6100',
 'C1248',
 'C1900']

In [11]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 50 columns]

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [13]:
# Split the preprocessed data into a training and testing dataset
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [15]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state= 42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
## Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 7)                 350
_________________________________________________________________
dense_1 (Dense)              (None, 14)                112
_________________________________________________________________
dense_2 (Dense)              (None, 21)                315
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 22
=================================================================
Total params: 799
Trainable params: 799
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 2ms/step - loss: 0.6218 - accuracy: 0.6627 - val_loss: 0.5632 - val_accuracy: 0.7266
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5669 - accuracy: 0.7207 - val_loss: 0.5538 - val_accuracy: 0.7328
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7235 - val_loss: 0.5502 - val_accuracy: 0.7339
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5580 - accuracy: 0.7240 - val_loss: 0.5498 - val_accuracy: 0.7344
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7253 - val_loss: 0.5529 - val_accuracy: 0.7302
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7271 - val_loss: 0.5518 - val_accuracy: 0.7328
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7272 - val_loss: 0.5489 - val_accuracy: 0.7352
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7270 - val_loss: 0.5472 - val_accuracy: 0.7388
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7261 - val_loss: 0.5457 - val_accuracy: 0.7359
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7271 - val_loss: 0.5472 - val_accuracy: 0.7367
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7267 - val_loss: 0.5462 - val_accuracy: 0.7328
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7286 - val_loss: 0.5494 - val_accuracy: 0.7331
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7287 - val_loss: 0.5466 - val_accuracy: 0.7321
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7287 - val_loss: 0.5487 - val_accuracy: 0.7346
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7286 - val_loss: 0.5459 - val_accuracy: 0.7349
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7287 - val_loss: 0.5462 - val_accuracy: 0.7352
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7296 - val_loss: 0.5477 - val_accuracy: 0.7339
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7288 - val_loss: 0.5462 - val_accuracy: 0.7391
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7292 - val_loss: 0.5466 - val_accuracy: 0.7349
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7305 - val_loss: 0.5459 - val_accuracy: 0.7378
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7297 - val_loss: 0.5465 - val_accuracy: 0.7349
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7282 - val_loss: 0.5486 - val_accuracy: 0.7378
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7304 - val_loss: 0.5458 - val_accuracy: 0.7359
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7299 - val_loss: 0.5460 - val_accuracy: 0.7372
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7296 - val_loss: 0.5456 - val_accuracy: 0.7359
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7314 - val_loss: 0.5475 - val_accuracy: 0.7375
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7308 - val_loss: 0.5467 - val_accuracy: 0.7367
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7298 - val_loss: 0.5455 - val_accuracy: 0.7375
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7298 - val_loss: 0.5456 - val_accuracy: 0.7367
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7292 - val_loss: 0.5462 - val_accuracy: 0.7365
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7313 - val_loss: 0.5451 - val_accuracy: 0.7359
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7313 - val_loss: 0.5448 - val_accuracy: 0.7336
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7316 - val_loss: 0.5468 - val_accuracy: 0.7352
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7310 - val_loss: 0.5439 - val_accuracy: 0.7375
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7314 - val_loss: 0.5433 - val_accuracy: 0.7385
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7285 - val_loss: 0.5450 - val_accuracy: 0.7352
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7309 - val_loss: 0.5455 - val_accuracy: 0.7359
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7297 - val_loss: 0.5455 - val_accuracy: 0.7359
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7294 - val_loss: 0.5435 - val_accuracy: 0.7372
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7315 - val_loss: 0.5441 - val_accuracy: 0.7352
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7318 - val_loss: 0.5462 - val_accuracy: 0.7341
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7304 - val_loss: 0.5447 - val_accuracy: 0.7367
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7299 - val_loss: 0.5454 - val_accuracy: 0.7346
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7301 - val_loss: 0.5460 - val_accuracy: 0.7359
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7309 - val_loss: 0.5448 - val_accuracy: 0.7357
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7322 - val_loss: 0.5455 - val_accuracy: 0.7367
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7323 - val_loss: 0.5480 - val_accuracy: 0.7357
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7310 - val_loss: 0.5443 - val_accuracy: 0.7346
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7315 - val_loss: 0.5452 - val_accuracy: 0.7354
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7303 - val_loss: 0.5447 - val_accuracy: 0.7346
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7301 - val_loss: 0.5483 - val_accuracy: 0.7380
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7311 - val_loss: 0.5444 - val_accuracy: 0.7365
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7331 - val_loss: 0.5447 - val_accuracy: 0.7365
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7311 - val_loss: 0.5450 - val_accuracy: 0.7354
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7313 - val_loss: 0.5433 - val_accuracy: 0.7339
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7313 - val_loss: 0.5447 - val_accuracy: 0.7362
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7298 - val_loss: 0.5465 - val_accuracy: 0.7341
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7326 - val_loss: 0.5429 - val_accuracy: 0.7378
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7311 - val_loss: 0.5437 - val_accuracy: 0.7357
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7327 - val_loss: 0.5441 - val_accuracy: 0.7352
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7324 - val_loss: 0.5473 - val_accuracy: 0.7341
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7341 - val_loss: 0.5442 - val_accuracy: 0.7362
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7325 - val_loss: 0.5507 - val_accuracy: 0.7323
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7318 - val_loss: 0.5484 - val_accuracy: 0.7313
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7310 - val_loss: 0.5444 - val_accuracy: 0.7354
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7319 - val_loss: 0.5456 - val_accuracy: 0.7354
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7324 - val_loss: 0.5436 - val_accuracy: 0.7375
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7309 - val_loss: 0.5425 - val_accuracy: 0.7341
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7312 - val_loss: 0.5443 - val_accuracy: 0.7339
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7318 - val_loss: 0.5432 - val_accuracy: 0.7359
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7312 - val_loss: 0.5439 - val_accuracy: 0.7362
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7315 - val_loss: 0.5437 - val_accuracy: 0.7365
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7323 - val_loss: 0.5466 - val_accuracy: 0.7341
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7305 - val_loss: 0.5432 - val_accuracy: 0.7344
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7321 - val_loss: 0.5449 - val_accuracy: 0.7346
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7328 - val_loss: 0.5443 - val_accuracy: 0.7339
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7326 - val_loss: 0.5436 - val_accuracy: 0.7344
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7317 - val_loss: 0.5438 - val_accuracy: 0.7346
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7319 - val_loss: 0.5439 - val_accuracy: 0.7346
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7322 - val_loss: 0.5436 - val_accuracy: 0.7367
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7319 - val_loss: 0.5443 - val_accuracy: 0.7370
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7323 - val_loss: 0.5452 - val_accuracy: 0.7352
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7328 - val_loss: 0.5451 - val_accuracy: 0.7341
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7331 - val_loss: 0.5434 - val_accuracy: 0.7339
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7326 - val_loss: 0.5461 - val_accuracy: 0.7354
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7322 - val_loss: 0.5435 - val_accuracy: 0.7380
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7321 - val_loss: 0.5449 - val_accuracy: 0.7378
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7332 - val_loss: 0.5445 - val_accuracy: 0.7362
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7335 - val_loss: 0.5441 - val_accuracy: 0.7359
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7338 - val_loss: 0.5441 - val_accuracy: 0.7352
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7335 - val_loss: 0.5446 - val_accuracy: 0.7349
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7331 - val_loss: 0.5450 - val_accuracy: 0.7391
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7332 - val_loss: 0.5438 - val_accuracy: 0.7385
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7349 - val_loss: 0.5444 - val_accuracy: 0.7357
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7332 - val_loss: 0.5446 - val_accuracy: 0.7352
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7338 - val_loss: 0.5434 - val_accuracy: 0.7372
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7329 - val_loss: 0.5424 - val_accuracy: 0.7344
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7340 - val_loss: 0.5443 - val_accuracy: 0.7359
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7339 - val_loss: 0.5434 - val_accuracy: 0.7378
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7342 - val_loss: 0.5428 - val_accuracy: 0.7362

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5522 - accuracy: 0.7287
Loss: 0.5522201657295227, Accuracy: 0.7287463545799255

In [21]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')